<ul class="projects-list">
    {{#each content.projects}}
         <li>
            <div class="project-logo">
                <img src="{{ iconUrl this.logo }}" alt="{{ this.title }} logo" loading="lazy">
            </div>
            <div class="project-content">
                <h3 class="project-title">
                    <a href="{{ this.url }}">{{ smartenQuotes this.title }}</a>
                </h3>     
                <div>
                    {{{ smartenQuotes this.description }}}
                    <div class="project-links">
                        <a href="{{ this.githubUrl }}">GitHub</a>
                    {{#if this.demoUrl}}
                        <a href="{{ this.demoUrl }}">Demo</a>
                    {{/if}}
                    </div>
                </div>
            </div>
        </li>
    {{/each}}
</ul>