<ul class="slideshow-list" data-slideshow-images="true">
    {{#each content.images}}
         <li>
            <a 
                href="{{this.url.large}}"
                data-caption="{{this.caption}}"
                data-src="{{this.url.small}}"
                data-srcset="{{this.url.small}} 400w, {{this.url.medium}} 800w, {{this.url.large}} 1000w" 
                data-slug="{{this.id}}"
                data-slideshow-image="true"
            >
                <img 
                    src="{{this.url.thumbnail}}" 
                    alt="{{this.description}}" 
                    loading="lazy" 
                />
            </a>
        </li>
    {{/each}}
</ul>